<div class="col-2">
  <div class="list-group" id="list-tab" role="tablist">
    <a
      class="list-group-item list-group-item-action active"
      href="/category/?category=Refrigerator"
      role="tab"
      aria-controls="list-home"
      >Refrigerator</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="/category/?category=Fan"
      role="tab"
      aria-controls="list-profile"
      >Fan</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="/category/?category=Mobile Phone"
      role="tab"
      aria-controls="list-messages"
      >Mobile Phone</a
    >
    <a
      class="list-group-item list-group-item-action"
      href="/category/?category=Car"
      role="tab"
      aria-controls="list-settings"
      >Car</a
    >
  </div>
</div>

